
h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
    text-shadow: -2px 2px 10px gray;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(110, 61, 0, 0.61);
    padding: 25px 0;
}

#title {
    background-color: #F0D394;
}


.titleDiv {
    padding: 0;
}

.tractorImg {
    width: 100px;
    padding-right: 10px;
}
.navbar {
    padding: 0 10rem;
    background-color: #98651e79;

}

.homeDiv {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10rem;
    margin: 0;
}

.jonah {
    border-radius: 50%;
}

.jCaption {
    padding-top: 5%;
}


#about-me {
    background-color: #98651E;
}


.aboutDiv {
    width: 50%;
    padding: 5% 5%;
}

.carousel-item {
    height: 50%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.466);
}

.contactDiv {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


#contact {
    background-color: #F0D394;
}
